{% extends 'base.html' %}

{% block title %}Reset Password{% endblock %}

{% block content %}
    <h2>Reset Password</h2>
    <p>Please enter your new password.</p>
    <form action="{{ url_for('reset_password', token=token) }}" method="post">
        {{ form.hidden_tag() }}
        <div class="form-group">
            <label for="password">New Password:</label>
            <input type="password" id="password" name="password" class="form-control" required>
        </div>
        <input type="submit" value="Reset Password" class="btn btn-primary">
    </form>
{% endblock %}
